<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoParts - Компания</title>
    <script src="js/scroll_to_top.js" defer></script>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <!-- верхний колонтитул -->
    <header class="header">
        <nav class="header-left">
            <a href="/Home/Indexl">
                <img src="/img/service.png" alt="Логотип AutoParts" class="logo" />
            </a>
            <a href="/Home/Index" class="header-text">AutoParts</a>
        </nav>
        <div class="header-midsection">
            <a href="/CarParts/Catalog" class="search-button">Весь каталог</a>
        </div>
        <div class="header-right">
            <a href="/Cart/All" class="search-button">Корзина</a>
        </div>
    </header>

    <main class="infopage">
        <h1>Компания AutoParts</h1>
        <p>
            Компания AutoParts занимается продажей автомобильных товаров от ведущих мировых производителей,
            сотрудничая с известными брендами и поставщиками автозапчастей для обеспечения высокого количества
            предложений по множеству наименований. Мы ежедневно обновляем электронные каталоги чтобы найти необходимые
            запчасти и аксессуары было проще. Наши услуги предоставляются как крупным
            мастерским, так и простым людям, решившим отремонтировать свой автомобиль.
        </p>
        <img src="/img/car-workshops-2096028858.png" alt="Мастерская партнёра AutoParts">
        <p>
            Мы работаем с крупными оптовыми складами автозапчастей по всей России и помогаем продавцам осуществлять
            поставки, а также имеем возможность доставить запчасти и аксессуары со складов основных автопроизводителей
            других стран. Для сотрудничества с нами можно связаться по номеру телефона: +7 (xxx) xxx xx-xx или электронной
            почте autopartsbusiness@mail.com
        </p>
    </main>
    <!-- нижний колонтитул -->
    <footer class="footer">
        <div class="footer-left">
            <ul>
                <li><a href="/Home/Company">Компания</a></li>
                <li><p>(c) 2024. Интернет-магазин автозапчастей "AutoParts"</p></li>
            </ul>
        </div>
    </footer>
</body>
</html>